.center
  text-align center

.align-right
  text-align right

.align-left
  text-align left

.width500
  width 500px

.margin0-auto
  margin 0 auto

.back-color-dark
  background-color #666
  color white

.back-color-light
  background-color #e0e0e0
  color white

.small-vertical-margin
  margin-top 18px
  margin-bottom 18px

.small-horizontal-margin
  margin-right 18px
  margin-left 18px

.border
  border 1px solid #000

.round-border
  border-radius 10px

.flex-row
  display flex
  flex-direction row

.flex1
  flex: 1

.flex2
  flex: 2

.pointer
  &:hover
    cursor pointer